.tab-part {
  color: teal !important;
  background-color: white !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 15px;
}

.tab-part:hover {
  color: white !important;
  background-color: teal !important;
}

.title {
  display: flex;
  justify-content: space-between;
}

.wallet-part {
  width: 100%;
  justify-content: center;
  padding: 0 !important;
  margin: 8% 0 0 0 !important;
}

.wallet-button {
  font-size: 10px !important;
  text-transform: uppercase;
  font-weight: bold;
}

.modal-title {
  font-weight: bold;
  text-transform: uppercase;
}

.modal-title-text {
  color: deeppink;
}

.modal-footer-button {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 15px;
}

.account-part {
  margin: 8% 0 0 0;
}

.account-button {
  display: flex !important;
  justify-content: flex-end;
}

.avatar {
  width: 250%;
}

.testing {
  align-items: center;
  margin: 10% 0 10% 0;
}

.name-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.first-name-part,
.last-name-part {
  width: 45%;
}

.email-size {
  width: 100%;
}

.email-part {
  margin-bottom: 50px;
}

.info-button-part {
  display: flex;
  justify-content: flex-end;
}

.info-button {
  margin-right: 10px;
  text-transform: uppercase;
}

.category-part {
  background-color: lightcoral;
}

.balance-part {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.balance-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: lighter;
}

.balance-title-size {
  font-size: 20px;
  font-weight: bolder;
}

.expense-detail-part {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.MuiTypography-body1 {
  font-weight: bold !important;
}

.expense-title-size {
  font-size: 16px;
  font-weight: bold;
}

.expense-title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px;
}

.wallet-button-column {
  position: relative;
  width: 100%;
}

.middle {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-left: 20px;
  padding-bottom: 3px;
  padding-right: 3px;
}

.detail-part {
  display: flex;
}
.detail-part-content {
  position: fixed;
  width: 12.2%;
  top: 40px;
}

.list-part {
  width: 100%;
  height: 100vh;
}

.bao-container {
  display: grid;
  grid-template-columns: 215px 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "wallet list list list list";
}

.bao-wallet {
  grid-area: wallet;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "wallet-button-0" "wallet-button-1" "wallet-button-2" "wallet-button-3";
}

.list-column {
  grid-area: list;
}

.wallet-button-column-0 {
  grid-area: wallet-button-0;
  position: relative;
}

.wallet-button-column-1 {
  grid-area: wallet-button-1;
  position: relative;
}

.wallet-button-column-2 {
  grid-area: wallet-button-2;
  position: relative;
}

.wallet-button-column-3 {
  grid-area: wallet-button-3;
  position: relative;
}

.button-part {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 15px;
}
